@charset "UTF-8";
@media screen and (min-width: 640px) {
	.background-div{
		width:100%;
		height:100%;
		display:none;
		z-index:2000;
		background-color:#3b3b3b;
		opacity:0.7;
		position:absolute;
		top:0px;
		left:0px;
	}
	.pop-div{
		width:400px;
		height:150px;
		border-radius:10px;
		background-color:#fff;
		display:none;
		position:absolute;
		left:35%;
		top:20%;
		padding:80px 20px 20px 20px;
		font-size:20px;
		color:#3b3b3b;
		z-index:9999;
		animation: border-anime 2s;
       animation-direction: alternate;
       animation-iteration-count: 999;
       text-align:center;
	}
	.pop-div p{
		margin-bottom:20px;
		cursor:default;
	}
	.pop-div:before{
		content:"::Attention::";
		position:absolute;
		display:inline-block;
		left:120px;
		top:20px;
		width:190px;
		height:40px;
		background-color:#fa7474;
		border-radius:40px;
		line-height:30px;
		color:#fff;
		cursor:default;
	}
	pop-btn{
		vertical-align:bottom;
		margin-bottom:100px;
	}
	.pop-no,.pop-yes{
		width:150px;
		height:50px;
		font-size:20px;
		border-radius:30px;
		display:inline-block;
		line-height:50px;
		cursor:pointer;
	}
	.pop-yes:hover{
		opacity:0.8;
	}
	.pop-no:hover{
		background-color:#d7d7d7;
	}
	.pop-no{
		color:#3b3b3b;
		background-color:#f0f0f0;
	}
	.pop-yes{
		margin-left:50px;
		color:#fff;
		background-color:#7eb530;
	}
    @keyframes border-anime {
        0%{
        	box-shadow:0 0 5px #fa7474;
        }
        25%{
        	box-shadow:0 0 7px #fa7474;
        }
        50%{
        	box-shadow:0 0 9px #fa7474;
        }
        75%{
        	box-shadow:0 0 7px #fa7474;
        }
        100%{
            /*top: 210px;*/
           box-shadow:0 0 5px #fa7474;
        }
    }
    .settings-left{
        margin-bottom: 40px;
        color: #3c3c3c;
        font-size: 16px;
    }
    .settings-left h1{
        color: #3c3c3c;
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 20px;
        display: inline-block;
        vertical-align: top;
    }
    .settings-left .save-changes{
        width:150px;
        height: 44px;
        float: right;
        margin-right: 20px;
        border:1px solid transparent;
        border-radius: 25px;
        background-color: #7eb530;
        color: #ffffff;
        vertical-align: top;
        text-align: center;
        line-height: 44px;
        font-size:15px;
        display: inline-block;
        cursor: pointer;
    }
    .settings-left .save-changes:hover{
        opacity: 0.9;
    }
    .settings-left .save-changes:disabled{
        background-color: #B0B0B0;
        cursor: not-allowed;
    }
    .settings-left table{
        width: 550px;
        margin: 20px 0px 20px 100px;
    }
    .settings-left table tr td{
        /*width: 20%;*/
        width: auto;
        padding: 10px;
        height: 30px;
    }
    .settings-left table tr td .text-input,.text-input-wrong{
        width: 80%;
        height: 27px;
        padding: 5px;
        
        border-radius: 0.9375em;
        /*box-shadow: inset 3px 2px 10px #f0f0f0;*/
    }
    .settings-left table tr td .text-input{
    	border: 1px solid #B0B0B0;
    }
    .text-input-wrong{
    	border:1px solid #fa7474;
    	box-shadow: 0 0 5px #fa7474;
    }
    .radio-out,.radio-out-selected{
        width: 3.125em;
        height: 1.875em;
        /*text-align:center;*/
        padding-left: 15px;
        cursor: pointer;
        position: relative;
    }
    .radio-out:before,.radio-out-selected:before{
        content: "";
        width: 12px;
        height:12px;
        margin: 0 auto;
        top:4px;
        left:4px;
        border: 2px solid #63b4ab;
        border-radius: 10px;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        position: absolute;
        z-index: 3;
    }
    .radio-out:active:after,.radio-out-selected:after{
        content: "";
        width: 8px;
        height: 8px;
        top:8px;
        left: 8px;
        border-radius: 6px;
        background-color: #63b4ab;
        position: absolute;
        display: inline-block;
        z-index: 5;
    }
    .settings-left table tr td .radio-input{
        opacity: 0;
    }
    .settings-left .profile-picture .picture{
        width: 50px;
        height: 50px;
        border-radius: 30px;
      /*  background-image: url("../images/blueberries.png");*/
        background-size: 50px 50px;
        display: inline-block;
        vertical-align: middle;
    }
    .settings-left .profile-picture .picture img{
    /*	width: 50px;*/
        height: 50px;
        _width:expression(this.width > 50 ? "50px" : this.width);
        border-radius: 30px;
        display: inline-block;
       /* width: auto;  
	    height: auto;  
	    max-width: 120%;  
	    max-height: 120%; */  
        vertical-align: middle;
    }
    .settings-left .profile-picture .picture-right{
        width: 250px;
        font-size:12px;
        display: inline-block;
        vertical-align: middle;
    }
    .settings-left a{
        margin: 20px 0px 20px 230px ;
        color: #888888;
        font-size: 15px;
        cursor: pointer;
    }
    .settings-left hr{
        width: 90%;
        margin: 20px 0px 40px 30px;
    }
     .checkbox-out,.checkbox-out-selected{
        width: 200px;
        height: 20px;
        margin: 0px 0px 15px 0px;
        position: relative;
        cursor: pointer;
    }
    .checkbox-out:before,.checkbox-out-selected:before{
        content: "";
        width: 14px;
        height: 14px;
        top: 4px;
        left:4px;
        border: 2px solid #63b4ab;
        border-radius: 2px;
        display: inline-block;
        position: absolute;
    }
     .checkbox-out:active:after,.checkbox-out-selected:after{
        content: "";
        width: 10px;
        height: 10px;
        top:8px;
        left: 8px;
        background-color: #63b4ab;
        border-radius: 2px;
        display: inline-block;
        position: absolute;
    }
    .settings-left .checkbox-out input,.checkbox-out-selected input{
        opacity: 0;
    }
    .settings-left li{
        width: 300px;
        list-style-type: none;
        margin: 20px 0px 20px 150px;
        padding: 5px;
        font-size:15px;
        border: 2px solid #63b4ab;
        border-radius: 15px;
        cursor: pointer;
    }
    .settings-left li:hover{
        background-color: #d9e7e5;
    }
    .settings-left li:active,.li-selected{
        background-color: #63b4ab;
        color: #ffffff;
    }
    .settings-left li span{
        margin-right: 20px;
        font-size: 12px;
        float: right;
    }
    /*右侧边栏*/
    .right-main li{
        height: 40px;
        margin: 20px;
        list-style-type: none;
        border: 2px solid #B0B0B0;
        border-radius: 20px;
        background-color: #f0f0f0;
        line-height: 40px;
        text-align: center  ;
    }
    .right-main{
        position: fixed;
    }
}
